<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    Frische Idee
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item  ">
        <a class="nav-link" href="/dashboard-manager">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/manager">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/employers/getAllForManager">
          <i class="material-icons">content_paste</i>
          <p>list of employees</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/orders/getAll">
          <i class="material-icons">library_books</i>
          <p>List of orders</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/clients/getAll">
          <i class="material-icons">location_ons</i>
          <p>List of clients</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/service/getAll">
          <i class="material-icons">content_paste</i>
          <p>list of services</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/service/create">
          <i class="material-icons">content_paste</i>
          <p>Add service</p>
        </a>
      </li>
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" href="/application/getAll">-->
<!--          <i class="material-icons">content_paste</i>-->
<!--          <p>Applications</p>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</div>